<!doctype html>
<html lang="en">

<head>
    <title>GAIOT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <section class="ftco-section d-flex justify-content-center align-items-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <h3 class="text-center mb-4">Halo, <br>{{ user_details.nama }}!</h3>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded submit p-3 px-5" onclick="location.href='edit-profile.php';">Edit Profil</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded submit p-3 px-5" onclick="location.href='/qr_code';">QR Code</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded submit p-3 px-5" onclick="location.href='/logout';">LogOut</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script src="script/jquery.min.js"></script>
    <script src="script/popper.js"></script>
    <script src="script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>